<ion-content class="map-bg">
  <div class="backdrop center"></div>
  <ion-card class="center login-box">
    <ion-card-header style="text-align: right">
      <ion-card-subtitle>Los Santos Tourist Guide</ion-card-subtitle>
      <ion-card-title>Sing in</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-item>
          <ion-label position="floating" color="primary">
            <ion-icon name="at" slot="start"></ion-icon>
            E-mail
          </ion-label>
          <ion-input autocomplete="new-password" formControlName="email" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" color="primary">
              <ion-icon name="lock" slot="start"></ion-icon>
              Password
            </ion-label>
            <ion-input autocomplete="new-password" formControlName="password"
              [type]="showPassword ? 'text' : 'password'"></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block" [disabled]="!loginForm.valid">
            <ion-label>
              Entrar
              <ion-icon name="log-in" slot="start"></ion-icon>
            </ion-label>
          </ion-button>
        </form>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>