<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Los Santos Tourist Guide
      <ion-chip>
        <ion-text color="light">
          {{ currentCategory || 'all categories' }}
        </ion-text>
      </ion-chip>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showFilters = !showFilters; showFilters ? undefined : getAll()">
        <ion-icon [name]="showFilters ? 'close' : 'funnel'" 
          slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-toolbar-menu (on-select-category)="onSelectCategory($event)"
  [@easyInOutVer] *ngIf="showFilters">
</app-toolbar-menu>

<ion-content>
  <overlay-map 
    img="../../assets/imgs/los-santos.svg"
    [spots]="spots">
  </overlay-map>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" (click)="help()">
      <ion-icon name="help-circle" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
