<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="logout()" routerLink="/login">
        <ion-icon name="log-out" 
          slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      LSTG
      <ion-chip>
        <ion-text color="light">
          {{ currentCategory || 'all categories' }}
        </ion-text>
      </ion-chip>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showFilters = !showFilters; showFilters ? undefined : getAll()">
        <ion-icon [name]="showFilters ? 'close' : 'funnel'" 
          slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-toolbar-menu (on-select-category)="onSelectCategory($event)"
  [@easyInOutVer] *ngIf="showFilters">
</app-toolbar-menu>

<ion-content>

  <overlay-map 
    img="../../assets/imgs/los-santos.svg"
    [spots]="spots">
  </overlay-map>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" 
    style="bottom: 80px; right: 15px;">
    <ion-fab-button color="secondary" (click)="add()">
      <ion-icon name="add" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" 
    style="bottom: 15px; right: 15px;">
    <ion-fab-button color="tertiary" (click)="help()">
      <ion-icon name="help" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<div class="backdrop" *ngIf="!spots || spots.length === 0">
  <span class="center">
    <ion-spinner name="bubbles" color="primary"></ion-spinner>
  </span>
</div>
